[user]
	email = acharyaroshan2357@gmail.com
	name = Roshan Acharya
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
[merge]
	conflictstyle = diff3
[alias]
	count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"
        authors = "! git log --pretty=format:'%an <%ae>' | sort | uniq -c | sort -nr"
